@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Figtree', sans-serif;
    height: 100%;
    width: 100%;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
}

.card{
    background-color: white;
    height: fit-content;
    max-width: 24rem;
    margin: auto 0;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid hsl(0, 0%, 7%);
    gap: 1rem;
    box-shadow: 0.75rem 0.75rem 0rem 0rem hsl(0, 0%, 7%);
}

.card__image{
    border-radius: 0.75rem;
}

.card__status{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0.36rem 0.60rem;
    font-size: 0.875rem;
    font-weight: 800;
    margin-top: 0.5rem;
}

.card__date{
    font-weight: 600;
}

.card__title{
    font-size: 1.5rem;
}

.card__title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.card__desc{
    color: hsl(0, 0%, 50%);
    line-height: 1.6rem;
    font-weight: 600;
}

.card-user{
    display: flex;
    align-items: center;
}

.card-user__avatar{
    height: 2rem;
    margin-right: 1rem;
}

.card-user__name{
    font-size: 1rem;
    font-weight: 800;
}

@media screen and (max-width: 384px){
    .card{
        width: 21rem;
        box-shadow: 0.5rem 0.5rem 0rem 0rem hsl(0, 0%, 7%);
        padding: 1.5rem;
    }
}